body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 30px 20px;
    border-bottom: 1px solid gray;
}

Section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2{
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    grid-template-areas:
    "nome nome nome"
    "endereco endereco endereco"
    "bairro cidade"
    "estado cep"
    "rg cpf profissao"
    "escolaridade sexo estado_civil"
    "nascimento cid_nasc est_nasc"
    "n_pai n_pai n_pai"
    "n_mae n_mae n_mae"
    "n_conjuge n_conjuge n_conjuge"
    "data_batismo cid_batismo"
    "igreja_batismo igreja_batismo igreja_batismo"
    "recebido recebido data_cadastro";
}

label {
    display: flex;
    margin-bottom: 5px;
}

#nome,
#endereco,
select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#bairro,
#cidade,
select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    Section {
        width: 90%;
    }
}