body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 30px 20px;
    border-bottom: 1px solid gray;
}

Section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2{
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-gap: 10px;
    margin-top: 20px;
    grid-template-areas:
    "nome nome nome"
    "endereco endereco endereco"
    "bairro cidade"
    "estado cep"
    "rg cpf profissao"
    "escolaridade sexo estado_civil"
    "nascimento cid_nasc est_nasc"
    "nome_pai nome_pai nome_pai"
    "nome_mae nome_mae nome_mae"
    "nome_conjuge nome_conjuge nome_conjuge"
    "data_batismo cid_batismo"
    "igreja_batismo igreja_batismo igreja_batismo"
    "recebido recebido data_cadastro";
}
   

.nome {
    grid-area: nome;
}
.endereco {
    grid-area: endereco;
}
.bairro {
    grid-area: bairro;
}
.cidade {
    grid-area: cidade;
}
.estado {
    grid-area: estado;
}
.cep {
    grid-area: cep;
}
.email {
    grid-area: email;
}
.rg {
    grid-area: rg;
}
.cpf {
    grid-area: cpf;
}
.profissao {
    grid-area: profissao;
}
.escolaridade {
    grid-area: escolaridade;
}
.sexo {
    grid-area: sexo;
}
.est_civil {
    grid-area: estado_civil;
}
.data_nasc {
    grid-area: nascimento;
}
.cid_nasc {
    grid-area: cid_nasc;
}
.est_nasc {
    grid-area: est_nasc;
}
.nome_pai {
    grid-area: nome_pai;
}
.nome_mae {
    grid-area: nome_mae;
}
.nome_conjuge {
    grid-area: nome_conjuge;
}
.data_batismo {
    grid-area: data_batismo;
}
.cid_batismo {
    grid-area: cid_batismo;
}
.igreja_batismo {
    grid-area: igreja_batismo;
}
.recebido {
    grid-area: recebido;
}
.data_cadastro {
    grid-area: data_cadastro;
}
.submit {
    grid-area: submit;
}



label {
    display: block;
    margin-bottom: 5px;
}

#nome,
#endereco,
select {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


#bairro,
#cidade,
select {
    padding: 8px;
    margin: 0px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    Section {
        width: 90%;
    }
}