@media screen and (max-width: 1440px) {

    .whats svg {
        width: 4rem;
    }

    #form-register {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {

    .whats svg {
        width: 4rem;
    }
    
    form .form-title {
        font-size: 1rem;
    }

    .input-radio .radio-title h4{
        font-size: 0.95rem;
    }

    .input-final label {
        font-size: 0.90rem;
    }

    .personal-infor .title {
        font-size: 0.90rem;
    }

    .additional-infor .title{
        font-size: 0.90rem;
    }

    .religious-infor .title{
        font-size: 0.90rem;
    }

    .input-box label {
        font-size: 0.85rem;
    }

    .input-box select {
        font-size: 0.80rem;
    }

    .input-box ::placeholder {
        font-size: 0.70rem;
    }

    #name,
    #address,
    #church-baptism {
        width: 20rem;
    }

    #country,
    #city,
    #city-birth,
    #profession,
    #city-baptism {
        width: 15rem;
    }
}

@media screen and (max-width: 768px) {

    .whats svg {
        width: 3rem;
    }

    form .form-title {
        font-size: 1rem;
    }

    #name,
    #address,
    #church-baptism {
        width: 25rem;
    }

    #country,
    #city,
    #city-birth,
    #profession,
    #city-baptism {
        width: 20rem;
    }

    .submit button a{
        width: 70%;
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 425px) {

    .header-container{
        width: 100vw;
    }
    
    .header-content{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }

    .logo img{
        width: 110px;
    }

    .nav-button {
        padding: 0.2rem;
    }

    .nav-button a {
        font-size: 0.90rem;
    }

    #form-register{
        width: 95vw;
        padding: 1.3rem;
    }

    #name,
    #address,
    #church-baptism,
    #country,
    #city,
    #city-birth,
    #profession,
    #city-baptism,
    #spouse-name,
    #father-name,
    #mother-name {
        width: 360px;
    }

    .input-box select{
        width: 11rem;
        font-size: 0.7rem;
    }

    .input-box input {
        font-size: 0.68rem;
    }

    .submit{
        width: 50%
    }

    .submit button a{
        font-size: 0.90rem;
    }

    .whats{
        padding: 0;
    }

    .radio {
        flex-direction: column;
    }

}
    
@media screen and (max-width: 375px) {
    #name,
    #address,
    #church-baptism,
    #country,
    #city,
    #city-birth,
    #profession,
    #city-baptism,
    #spouse-name,
    #father-name,
    #mother-name {
        width: 312px;
    }

    .input-box input {
        font-size: 0.68rem;
    }

}

@media screen and (max-width: 320px) {

    #name,
    #address,
    #church-baptism,
    #country,
    #city,
    #city-birth,
    #profession,
    #city-baptism,
    #spouse-name,
    #father-name,
    #mother-name {
        width: 262px;
    }

    .input-box input {
        font-size: 0.68rem;
    }

    
}